@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background-image: url("images/pexels-lumn-167699.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
#form {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(26, 251, 173, 0.5691526610644257) 38%,
    rgba(0, 212, 255, 1) 100%
  );
  width: 515px;
  height: 500px;
  border-radius: 20px;
}
#search-value {
  border-radius: 12px;
}
#picture img {
  width: 200px;
  height: 120px;
}
#form {
  position: relative;
}
#searchbar {
  background-color: white;
  border-radius: 12px;
  position: absolute;
  right: 12px;
  top: 12px;
}
@media screen and (max-width: 500px) {
  #second-container {
    flex-direction: column;
    align-items: center;
  }
  #search-value {
    width: 275px;
  }
}
